@use '../../styles/variables.scss' as *;

.landing-footer {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid #303a27;
    font-size: 12px;
}

.landing-footer a {
    color: $color-text-secondary;
    text-decoration: none;
    transition: color $transition-fast;
}

.landing-footer a:hover {
    color: $color-accent-lime;
}

.landing-footer p {
    margin-right: auto;
    color: #71806a;
}

.landing-footer div {
    display: flex;
    gap: 22px;
}

@include media-sm {
    .landing-footer {
        align-items: start;
        flex-wrap: wrap;
        gap: 16px;
    }

    .landing-footer p {
        width: 100%;
        order: 3;
    }

    .landing-footer div {
        width: 100%;
        justify-content: space-between;
    }
}
